@mixin heading{
    color:$white;font-size: 40px;font-family: 'Montserrat', sans-serif;line-height: 55px;
}
@mixin para{
    color:$white;font-size: 16px;font-family: 'Montserrat', sans-serif;line-height: 25px;
}
@mixin callbutton{
    margin-top:80px;
    background:none;
    border:1px solid $primary_color;
    padding:13px;
    color:$black;
    font-size: 19px;
    cursor:pointer;
    outline:0;
}
